<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="dangky.css">
    <title>Đăng ký thành viên</title>
</head>
<body>
    <?php include "menu_bar.php" ?>
    <form action="/dangky" method="post" enctype="multipart/form-data">
        <h1 style="color: blue;">THÔNG TIN ĐĂNG KÝ THÀNH VIÊN</h1>
        <div class="info_block">
            <label for="name">Họ tên:</label><input type="text" name="name" required>
        </div>
        <div class="info_block">
            <label for="email">Địa chỉ email:</label><input type="email" name="email" required>
        </div>
        <div class="info_block">
            <label for="password">Mật khẩu:</label><input type="password" name="password" required>
        </div>
        <div class="info_block">
            <label for="birth">Năm sinh:</label>
            <select name="birth" class="select">
                <% 
                    // get current year
                    var curr_year = (new Date()).getFullYear();
                %>
                <% for( let i = 1910; i < curr_year; i++ ) { %>
                    <option value="<%= i %>"><%= i %></option>
                <% } %>
                <option value="<%= curr_year %>" selected><%= curr_year %></option>
            </select>
        </div>
        <div class="info_block">
            <label for="gender">Giới tính:</label>
            <div class="radio">
                <input type="radio" name="gender" value="nam" checked>Nam
                <input type="radio" name="gender" value="nữ" style="margin-left: 20px;">Nữ
            </div>
        </div>
        <div style="margin-top: 10px;">
            <input type="submit" value="Đăng Ký"> <input type="reset" value="Xóa Form">
        </div>
    </form>
    <% if (exist) { %>
        <script>alert("Email đã tồn tại")</script>
    <% } %>
</body>
</html>