* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
}

body {
    height: 100dvh;
    width: 95%;
    margin: 10px auto;
    background-color: antiquewhite;
    /* border: 2px red solid; */
    display: flex;
    flex-direction: column;
    align-items: center;
}