* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
}

body {
    height: 100dvh;
    width: 95%;
    margin: 10px auto;
    background-color: antiquewhite;
    /* border: 2px red solid; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu_bar {
    position: absolute;
    left: 0;
    top: 0;
    background-color: azure;
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: fit-content;
    /* row-gap: 10px; */
    padding: 10px;
    border-bottom-right-radius: 20px;
    border-right: 2px black solid;
    border-bottom: 2px black solid;
}

.menu_bar a {
    padding: 5px 5px 5px 0px;
    text-decoration: none;
    color: brown;
    border-radius: 5px;
}

.menu_bar a:hover {
    background-color: rgb(89, 89, 89);
    color: gold;
}